* {
  margin: 0;
  padding: 0;
}

header {
  background-color:#5DD32C;
}

nav {
  height: 5vh;
}

ul {
  list-style-type:none;
  display: flex;
  justify-content:space-evenly;
  margin: auto;
}

li{
  font-size: 25px;
  color: #D32C5D;
}


#welcome {
  display: flex;
  height: 95vh;
  background-color: #a96dc5;
  
}

#welcome-text {
  min-width: 50%;
  display:flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  /* background-color: brown; */
}

#name {
  font-size: 60px;
  letter-spacing:10px;
}

#name-caption {
  font-size: 30px;
}