img {
    max-width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center {
  display: block;
  text-align: center;
}

video {
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

