* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(6, 0, 34);
  background-image:url(/Filbert-code.github.io/images/project-images/landingbg.jpeg);
  border: 2px solid black;
  color: black;

}

.container {
  width: 992px;
  display: block;
  justify-content:end;
  align-items:flex-end;
  /* background-color: chocolate; */
}

nav {
  /* background-color:#1d20cf; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  z-index: 2;
  /* border: 2px solid black; */
}

#nav-menu {
  background-color: rgba(27, 16, 75, 0.794);
  max-width: 496px;
  display: flex;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  margin: auto;
  justify-content: space-between;
}

#nav-menu a {
  color: white;
  text-decoration: none;
  font-size: 25px;
}

.mobile-container {
  width: 100%;
  display: none;
  /* justify-content:center; */
  /* align-items:center; */
  margin: auto;
  /* background-color: aquamarine; */
}

#dropdown-nav {
  background-color: rgba(27, 16, 75, 0.794);
  background-color: rgba(0, 174, 255, 0.794);
  max-width: 496px;
  display: none;
  /* padding: 10px 20px 10px 20px; */
  border-radius: 20px;
  margin: auto;
  justify-content: center;
  align-content: center;
}

#nav-button {
  display: block;
  height: 100%;
}

#dropdown-nav a {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 25px;
}

#dropdown-nav img {
  width: 40px;
  height: auto;
}

#dropdown-content {
  display: none;
  top: 50px;
  position: absolute;
  background-color: rgba(27, 16, 75, 0.794);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

#dropdown-nav:hover #dropdown-content {
  display: block;
}


@media only screen and (max-width: 992px) {
  .container {
    display: none;
  }
  .mobile-container {
    display: block;
  }
  #dropdown-nav {
    display:flex;
    height: auto;
    /* background-color: aquamarine; */
  }
}

@media only screen and (max-width: 414px)
and (-webkit-min-device-pixel-ratio: 2) {
  .mobile-container {
    display: block;
  }

  .container { 
    display: none;
  }

  #dropdown-nav {
    border-radius: 0;
    display:flex;
    /* background-color: rgba(217, 255, 0, 0.794); */
  }

  #nav-menu {
    padding: 0;
  }

  #nav-menu a {
    font-size: 15px;
  }
  #nav-button {
    border-radius: 0;
    width:75px;
    height: 75px;
  }
  /* #dropdown-nav img {
    width: 100px;
    height: 100px;
  } */
}

/* ==== LANDING SECTION ==== */ 

#landing {
  position: relative;
  /* top: 5vh; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  margin:auto;
  /* max-width: 992px; */
  height: 100vh;
  background-color: rgb(0, 59, 251);
  background-image: url(/Filbert-code.github.io/images/project-images/landingbackground.JPG);
  background-size:cover;
  background-position: center top;
}

#landing-content-1 {
  /* background-color: rgb(165, 61, 42); */
  margin-top: 20vh; /* adjust the position of image */
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

#landing-content-2 {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  /* background-color: rgb(132, 202, 28); */
}

#self-image {
  width:300px; 
  border-radius: 50%;
  border: 4px solid #000024;
}

#title {
  text-align: center; 
  font-size: 70px;
  color: #fbfbfb;
}

#title-desc {
  text-align: center; 
  font-size: 40px; 
  padding-bottom: 20px;
  color:  rgba(255, 255, 255, 0.794);;
}

#media-icons {
  width: 600px;
  display: flex;
  justify-content: space-between;
  /* margin-top: 40px; */
  border-radius: 100px;
  /* padding-left: 10px;
  padding-right:10px; */
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background-color: #000024a4;
}

#media-icons img {
  width: 150px;
}


@media only screen and (max-width: 992px) {
  #landing {
    /* max-width: 100vw; */
    /* background-color: rgb(234, 0, 255); */
  }
  #self-image {
    width: 250px;
    height: 250px;
  }
  #landing-content-2 {
    width: 400px;
  }
  #media-icons img {
    width: 100px;
  }
  #title-desc {
    font-size: 25px; 
  }
}

@media only screen and (max-width: 450px)
and (-webkit-min-device-pixel-ratio: 2) {
  #landing {
    /* max-width: 100vw; */
    /* height: auto; */
    /* background-color: rgb(234, 0, 255); */
    /* background-image: url(/Filbert-code.github.io/images/project-images/snowLandingBgMobile.jpg); */

  }
  #landing-content-1 {
    margin-top: 10vh; /* adjust the position of image */
  }
  #landing-content-2 {
    width: 400px;
  }
  #media-icons img {
    width: 100px;
  }
  #self-image {
    width: 250px;
    height: 250px;
  }
  #title-desc {
    font-size: 25px; 
  }
}

/* ==== PROJECTS SECTION ==== */

#projects-section {
  position: relative;
  top:0;
  max-width: 992px;
  min-height: 80vh;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  align-items:center;
  justify-content: space-evenly;
  background-color: rgb(131, 0, 120);
}

#projects-title {
  width:100%;
  text-align: center;
  font-size: 40px;
  /* background-color: chocolate; */
}

#projects-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: blueviolet; */
  /* margin: auto; */
}

.projects-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: teal; */
}

#projects-content img {
  width: 300px;
}

#projects-content h3 {
  font-size: 30px;
  padding-bottom: 10px;
}

#projects-content p {
  font-size: 20px;
  padding-top: 20px;
  width: 300px;
  text-align: center;
  /* background-color: chocolate; */
}

@media only screen and (max-width: 992px) {
  #projects-content {
    flex-direction: column;
    /* width:100vh; */
    max-width: 992px;
  }
}

@media only screen and (max-width: 400px)
and (-webkit-min-device-pixel-ratio: 2) {
  #projects-section {
    background-color: rgb(51, 233, 5);
  }
  #projects-content {
    flex-direction: column;
    /* width:100vh; */
    max-width: 100vw;
  }
}